
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Space+Mono&display=swap');


html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --yellow: rgb(217, 223, 122);
    --green: rgb(124, 203, 175);
    --grey: rgb(62, 61, 61);
    --highlight: black;
}


body {
    background: var(--yellow);
    font-family: "space mono", sans-serif;
    color: var(--grey);
    font-size: large;
    position: relative;
}


h1, h2 {
    text-align: center;
    font-family: "comfortaa", sans-serif;
}

p {
    text-align: center;

}

a {
    text-decoration: none;
    color: var(--grey)
}

a:hover{
    color: var(--highlight);
}

header {
    height: 100vh;
    width: 100%;
    background: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-size: cover;
    align-items: center;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    
}

#logo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--yellow);
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

/*Gaming area*/

#main-section { 
    min-height: 100vh;
}

/* Game stat bar */

#game-stats {
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

/* Game Board */

#main-game {
    width: 75%;
    height:640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    perspective: 1000px;
}

.card {
    width:calc(25% - 20px);
    height:calc(33.333% - 20px);
    display: flex;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .6s;
    margin: 10px;
}


.card:active {
    transform: scale(0.95);
    transition: transform .3s;
  }
   
  .card.flip {
    transform: rotateY(180deg)
  }

  .card.flip.matched > .front-face {
    background: var(--yellow)
  }

.front-face, .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    padding: 50px;
}

.front-face {
    transform: rotateY(180deg)
}

/* game-controls */


#game-controls{
    display: flex;
    justify-content: space-around;
    margin: 15px;
}




/*instruction area*/
#how-to-play {
    width: 100%;
    height: 100vh;
    background: var(--green);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

#how-to-play > p {
    padding: 0 75px 0 75px;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

.disable {
    pointer-events: none;
}