
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Space+Mono&display=swap');

/* general global styles */
html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --yellow: rgb(217, 223, 122);
    --green: rgb(124, 203, 175);
    --grey: rgb(65, 65, 65);
    --highlight: #000000;
}


body {
    background: var(--yellow);
    font-family: "space mono", sans-serif;
    color: var(--grey);
    font-size: small;
    position: relative;
}


h1, h2 {
    text-align: center;
    font-family: "comfortaa", sans-serif;
}

p {
    text-align: center;

}

a {
    text-decoration: none;
    color: var(--grey);
    cursor: pointer;
}

a:hover{
    color: var(--highlight);
    border-bottom: 2px dotted var(--highlight);
}
 /* header / landing area  */
header {
    height: 100vh;
    width: 100%;
    background: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-size: cover;
    align-items: center;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    
}

#logo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--yellow);
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

/*Gaming area*/

#main-section { 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Game stat bar */

#game-stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

/* Game Board */

#main-game {
    width: 95vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    perspective: 1000px;
}

.card {
    width: 23vw;
    height: 23vw;
    display: flex;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .6s;
    margin: 5px;
    cursor: pointer;
    justify-content: center;
   
}


.card:active {
    transform: scale(0.95);
    transition: transform .3s;
  }
   
  .card.flip {
    transform: rotateY(180deg);
  }

  .card.flip.matched > .front-face {
    background: var(--yellow);
    box-shadow: none;
  }

.front-face, .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    padding: 15px;
    box-shadow: 10px 5px 5px var(--grey); 
}

.front-face {
    transform: rotateY(180deg)
}

/* game-controls */


#game-controls{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.new-game{
    cursor: pointer;
}
.new-game:hover{
    border-bottom: 2px dotted var(--highlight);
}


/*instruction area*/
#how-to-play {
    width: 100%;
    height: 100vh;
    background: var(--green);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 0 20px;
}

#how-to-play > p {
    padding: 0 75px 0 75px;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

/* maodal styling (from w3 schools "How To Create a Modal Box") */

#time-modal, #win-modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.8); 
  }

  #time-message, #win-message {
    background-color: var(--green);
    color: var(--grey);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid var(--grey);
    border-radius: 20px;
    width: 95%; 
    box-shadow: 10px 5px 5px var(--highlight);
  }

  .modal-btn{
    display: flex;
    justify-content: center;
  }

  .modal-restart{
    margin: 25px;
  }

  @media screen and (min-width: 600px ) {

    .front-face, .back-face {
        padding: 25px;
    }
    #time-message, #win-message {
        width: 75%;  
    }
  }

  @media screen and (min-width: 750px ) {

    body {
        font-size: large;
    }
    #main-game {
        width:75vw;
    }

    .front-face, .back-face {
        padding: 30px;
    }

    .card { 
    width: 15vw;
    height: 15vw;
    margin: 10px
    }

    #how-to-play {
        padding: 0px 75px 0 75px;
    }
  }

  @media screen and (min-width: 900px ) {
    .front-face, .back-face {
        padding: 35px;
    }
  }

  @media screen and (min-width: 1100px ) {
    .card { 
        width: 14vw;
        height: 13vw;
    }

    #main-game {
        justify-content: center;
    }

    .front-face, .back-face {
        padding: 45px;
    }

    #how-to-play {
        padding: 0px 150px 0 150px;
    }
  }

 /* media queries for smaller screens */
  /* @media screen and (max-width: 1000px) {
    .front-face, .back-face {
        padding: 30px
    }
    #main-game {
        width: 80%;
    }
    #game-stats {
        margin-top: 5%
    }
    #game-controls{
        margin-bottom: 5%;
    }
  } */

  /* @media screen and (max-width: 560px) { */
    /* .card { */
    /* width: 23vw;
    height: 23vw;
    margin: 5px; */
    /* } */

    /* #main-game {
        width: 90%;
        align-content: space-around;
    } */

    /* #how-to-play > p {
        padding: 0px 20px 0 20px;
    } */

    /* .front-face, .back-face {
        padding: 15px;
    } */
  /* } */
    /* Media queries for screen sizes up to 400px in width */
  /* @media screen and (max-width: 450px) { */

    /* body {
        font-size: small;
    } */
    /* #main-game {
        width: 95%;
    } */
    /* .front-face, .back-face {
        padding: 15px;
    } */
    /* #game-stats {
        margin-top: 20%
    }
    #game-controls{
        margin-bottom: 20%;
    } */
    /* #time-message, #win-message {
        width: 95%
    } */
  /* } */

  /* disable pointer events works better at the end of css file */

.disable {
    pointer-events: none;
}